<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quests_list</title>
    <style type="text/css">
        div {
            margin-left: 10%;
            margin-right: 10%;
        }
        .pagination {
            justify-content: center;
        }
    </style>

</head>
<body>
<div>
    {% for quest in quests %}
    <div>{{quest.title}}</div>
    <a href="{{ quest.get_url }}">{{ quest }}</a>
    <hr>
    {% endfor %}
</div>
<nav>
    <ul class="pagination">
        {% for p in paginator.page_range %}
        {% if p == page.number %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
            <a href="{{ paginator.baseurl  }}{{p}}">
                {{ p }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
</body>
</html>