<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quests_list</title>

</head>
<body>
<div class="pagination">
    {% for quest in quests %}
    <div>
        <h3>{{quest.title}}</h3>
        <a href="{{ quest.get_url }}">Go</a>
    </div>
    <hr>
    {% endfor %}
</div>
<div class="pagination">
	<span class="step-links">
		{% if quests.has_previous %}
			<a href="?page={{ quests.previous_page_number }}">previous</a>
		{% endif %}
		<span class="current">
			Page {{ quests.number }} of {{ quests.paginator.num_pages }}.
		</span>
		{% if quests.has_next %}
			<a href="?page={{ quests.next_page_number }}">next</a>
		{% endif %}
	</span>
</div>
</nav>
</body>
</html>